.text_overflow {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;

  /* Fallback for non-webkit */
  //   overflow: hidden;
  //   text-overflow: ellipsis;
  //   white-space: nowrap;
}
