:root {
  --white: #fffffe;
  --black: #232323;
  --primary: #f8f5f2;
  --secondary: #078080;
  --tertiary: #f45d48;
  --shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  --grey: #f0f0f0;
  --dark-grey: #b2beb5;
}
